#textarea{
	resize:none;
	padding-left:10px;	
	font-size:16px;
	max-width:210px;
	width:210px;
	margin-left:20px;
	max-height:100px;
	height:100px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}

#dropdown{
	padding-left:10px;	
	font-size:16px;
	width:225px;
	margin-left:20px;
	height:25px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}